.details-name {
    margin-left: 20px;
    font-size: 2em;
    padding-bottom: 10px;
    text-decoration: underline;
}

.details-display {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.details-display-image {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 500px;
    width: 425px;
}

.information-list {
    list-style-type: none;
}

.information-header {
    margin-top: 0;
}

.bold-information {
    font-weight: bold;
}

.buy-here {
    font-size: 1.3em;
    color: black;
    padding-bottom: 0;
}

.buy-here:hover {
    color: rgb(70,89,52);
    font-weight: bold;
}