nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8em;
    background-color: #8CB369;
    box-shadow: 0 0 5px 0 rgb(70,89,52);
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 3em;
    color: #11270B;
}

.links {
    font-size: 1.5em;
    color: black;
    padding-bottom: 0;
}

.links:hover {
    color: rgb(70,89,52);
    font-weight: bold;
}

.is-active {
    font-weight: bold;
    border-bottom: #0f3011 0.125em solid;
}
